# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

url_data = pd.read_table(url, sep='\t')

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = url_data

### Step 4. What is the name of the max valued product?

In [4]:
# Primero creamos una nueva columna con el precio en formato float

chipo['new_item_price'] = chipo['item_price'].apply(lambda x: np.float64(x[1:]))

In [5]:
#  Buscamos el precio maximo en esta nueva columna

max_price = chipo['new_item_price'].max()
print(max_price)

# tenemos varias opciones para hacer esto:

#index = chipo.new_item_price.idxmax()
#print(index)

44.25

In [6]:
# Hacemos una lista de comprension (comprehension list) para localizar el/los indices en los que se encuentra nuestro valor, en este caso el maximo:

indexes = [i for i, x in enumerate(chipo.new_item_price) if x == max(chipo.new_item_price)]
indexes

[3598]

In [7]:
# En este otro metodo empleamos una máscara para llegar a el/los valores que cumplen la condicion. Genera un array booleano (con True para los que cumplen, False para los que no).
# Luego mostramos aquellos que la cumplen, en este caso uno.

x = chipo.new_item_price[chipo.new_item_price == max(chipo.new_item_price)]
x

3598    44.25
Name: new_item_price, dtype: float64

In [8]:
chipo.loc[3598,'item_name']

'Chips and Fresh Tomato Salsa'

In [9]:
# Mas ejemplos de mascaras, mostrando mas columnas:

x = chipo[['item_name', 'choice_description']][chipo.new_item_price == max(chipo.new_item_price)]
x

                         item_name choice_description
3598  Chips and Fresh Tomato Salsa                NaN

In [11]:
# Otro ejemplo de mascara buscando otro precio del que hay mas de un producto con ese precio

x = chipo[['item_name', 'choice_description']][chipo.new_item_price == 8.75]
x

                 item_name                                 choice_description
11    Chicken Crispy Tacos  [Roasted Chili Corn Salsa, [Fajita Vegetables,...
12      Chicken Soft Tacos  [Roasted Chili Corn Salsa, [Rice, Black Beans,...
19            Chicken Bowl  [Tomatillo Red Chili Salsa, [Fajita Vegetables...
35      Chicken Soft Tacos                   [Roasted Chili Corn Salsa, Rice]
36      Chicken Soft Tacos      [Roasted Chili Corn Salsa, [Cheese, Lettuce]]
...                    ...                                                ...
4599          Chicken Bowl      [Roasted Chili Corn Salsa, [Cheese, Lettuce]]
4604          Chicken Bowl  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...
4615    Chicken Soft Tacos   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]
4620    Chicken Salad Bowl  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    Chicken Salad Bowl  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...

[730 rows x 2 columns]

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [12]:
# delete the duplicates in item_name and quantity

chipo_price_item = chipo.drop_duplicates(subset=('item_name', 'quantity'), keep='first')
chipo_price_item

# select only the products with quantity equals to 1

chipo_price_item.loc[chipo_price_item['quantity'] == 1]

# select only the item_name and item_price columns


# sort the values from the most to less expensive

,order_id,quantity,item_name,choice_description,item_price,new_item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
6,3,1,Side of Chips,NaN,$1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49,8.49
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99,8.99
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99,8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09,1.09
33,17,1,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
34,17,1,Bottled Water,NaN,$1.09,1.09
38,18,1,Chips and Tomatillo Green Chili Salsa,NaN,$2.95,2.95
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75,11.75
40,19,1,Chips,NaN,$2.15,2.15
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
54,25,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.99,8.99
56,26,1,Barbacoa Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$9.25,9.25
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
92,40,1,Steak Crispy Tacos,"[Fresh Tomato Salsa, Sour Cream]",$9.25,9.25
111,49,1,Chips and Tomatillo Red Chili Salsa,NaN,$2.95,2.95
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75,11.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
191,85,1,Chips and Roasted Chili-Corn Salsa,NaN,$2.39,2.39
233,102,1,Chips and Roasted Chili Corn Salsa,NaN,$2.95,2.95
237,103,1,Carnitas Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$9.25,9.25
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$10.98,10.98
263,114,1,Canned Soft Drink,[Coke],$1.25,1.25
298,129,1,6 Pack Soft Drink,[Sprite],$6.49,6.49
300,130,1,Chips and Tomatillo-Red Chili Salsa,NaN,$2.39,2.39
510,214,1,Burrito,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",$7.40,7.40
520,217,1,Crispy Tacos,[Adobo-Marinated and Grilled Steak],$7.40,7.40
554,230,1,Carnitas Crispy Tacos,[Roasted Chili Corn Salsa],$9.25,9.25
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",$11.89,11.89
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.40
674,279,1,Chips and Mild Fresh Tomato Salsa,NaN,$3.00,3.00
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.89,11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89,11.89
1414,575,1,Salad,"[Brown Rice, Adobo-Marinated and Grilled Chick...",$7.40,7.40
1653,668,1,Veggie Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49,8.49
3750,1500,1,Carnitas Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.99,8.99

### Step 6. Sort by the name of the item

In [13]:


# OR

### Step 7. What was the quantity of the most expensive item ordered?

In [15]:
chipo.sort_values(by='new_item_price', ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price,new_item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

### What is the order_id with the hightest value?

In [19]:
chipo_ = chipo.groupby('order_id').sum()
chipo_.sort_values(by='new_item_price', ascending=False).head(1)

          quantity  new_item_price
order_id
926             23          205.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [20]:
# We make a mask to identify the tickets where the Veggie Salad Bowl was ordered

chipo_salad = chipo[chipo.item_name == 'Veggie Salad Bowl']
len(chipo_salad)

18

In [22]:
# Using value_counts: (as we used 'item_name' with value_counts, it takes that column as index)

chipo.item_name.value_counts()['Veggie Salad Bowl']

18

### Step 9. How many times did someone order more than one Canned Soda?

In [24]:
# As we want to filter, we use a mask stting the two conditions: first, that the item_name is Canned Soda, and second that the quantity is more than 1.

chipo_drink_soda = chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)]
len(chipo_drink_soda)

20

In [25]:
chipo_drink_soda2 = chipo(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)
chipo_drink_soda2.sum()

TypeError: 'DataFrame' object is not callable