# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [3]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [4]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

url_data = pd.read_table(url, sep='\t')
url_data.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo = url_data

### Step 4. See the first 10 entries

In [7]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [8]:
chipo.tail(5)

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

## Extra:
Vamos a ver si hay algún NULL en nuestro set de datos

In [9]:
chipo.isnull().any()

order_id              False
quantity              False
item_name             False
choice_description     True
item_price            False
dtype: bool

### Step 5. What is the number of observations in the dataset?: 4622
It's the last index + 1

In [79]:
# Solution 1 ---- saco la descripción general del dataset y veo que en el conteo la cantidad es 4622

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [80]:
# Solution 2: Empleo len() y directamente me da el tamaño en numero de lineas

len(chipo)

4622

### Step 6. What is the number of columns in the dataset?: 5

In [81]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [82]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [11]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [83]:
for col in chipo.columns: 
    print(col)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

The dataset has a non MultiIndex index starting at 0 and ending at 4622, increasing 1 by 1 (step=1)

In [84]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [85]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 9. Which was the most-ordered item?

In [86]:
max_orderd_item = chipo.groupby('item_name')['quantity'].sum().idxmax()
quantity_max_orderd_item = chipo.groupby('item_name')['quantity'].sum().max()

print("The most ordered item is", max_orderd_item, "which was ordered in", quantity_max_orderd_item, "quantity")

The most ordered item is Chicken Bowl which was ordered in 761 quantity

### Step 10. For the most-ordered item, how many items were ordered?

In [87]:
quantity_max_orderd_item = chipo.groupby('item_name')['quantity'].sum().max()
quantity_max_orderd_item

761

## Extra:
Si quisieramos pasar el order ID a string, podríamos emplear una funcion lambda y despues apply. De este modo nos aseguramos de que es tratado como una referencia y no como una cifra sobre la que podemos operar (no tiene sentido sumar, o sacar la media de los order IDs)

In [88]:
## Primero hacemos una copia del dataset
## Definimos la funcion para pasar a string
## Aplicamos la funcion lambda a la columna 'order_id'

c = chipo.copy()
to_string = lambda x: str(x)
c['order_id'] = c['order_id'].apply(to_string)
c

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [89]:
## En esta copia vamos a ver una segunda forma de llegar a la solucion del ejercicio:

# Primer aplicamos un groupby en la columna 'item_name' para obtener la suma
# Ordenamos ese resultado por 'quantity' en orden descendente
# Como solo queremos el mayor, nos quedamos con la primera linea

c_ = c.groupby("item_name").sum()
c_ = c_.sort_values("quantity", ascending=False)
c_.head(1)

              quantity
item_name
Chicken Bowl       761

### Step 11. What was the most ordered item in the choice_description column?

In [18]:
max_orderd_choice = chipo.groupby('choice_description')['quantity'].sum().idxmax()
max_orderd_choice

'[Diet Coke]'

In [19]:
quantity_max_orderd_choice = chipo.groupby('choice_description')['quantity'].sum().max()
quantity_max_orderd_choice

159

## Extra:
Aplicamos el mismo proceso que para el 'item_name' para sacar las opciones mas demandadas

In [90]:
most_ordered_choice = chipo.groupby('choice_description').sum()
most_ordered_choice = most_ordered_choice.sort_values('quantity', ascending = False)
most_ordered_choice.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

50 different items were ordered in total

In [21]:
chipo['item_name'].nunique()

50

In [22]:
total_items_ordered = chipo['quantity'].sum()
total_items_ordered

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [96]:
chipo.dtypes['item_price']

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [92]:
chipo['new_item_price'] = chipo['item_price'].apply(lambda x: np.float64(x[1:]))

chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,new_item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

#### Step 13.c. Check the item price type

In [93]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price             object
new_item_price        float64
dtype: object

In [95]:
chipo.dtypes['new_item_price']

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [102]:
chipo['revenue_per_ordered_item'] = chipo['quantity']*chipo['new_item_price']

print("Revenue was: $", chipo['revenue_per_ordered_item'].sum())


# revenue = (chipo['quantity']*chipo['new_item_price']).sum()
# print("Revenue was: $" + str(np.round(revenue, 2)))

Revenue was: $ 39237.02

### Step 15. How many orders were made in the period?

In [34]:
print("Total orders made in Chipotle Restaurant in the given period was:", chipo['order_id'].nunique(), "different orders")

Total orders made in Chipotle Restaurant in the given period was: 1834 different orders

### Step 16. What is the average revenue amount per order?

In [103]:
# Solution 1

(chipo['revenue_per_ordered_item'].sum()) / (chipo['order_id'].nunique())

21.39423118865867

In [4]:
# Solution 2: OJO: 'revenue' ES UNA VARIABLE QUE HEMOS DEFINIDO

#chipo.groupby(by=['order_id']).sum().mean()['revenue']

### Step 17. How many different items are sold?

In [44]:
chipo['item_name'].nunique()

50