# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
from pandas_datareader import data, wb

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

### Step 4. Read the data from google, assign to df and print it

In [2]:
df = pd.read_csv('file.csv')
df.head()

,Attributes,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Close,Close.1,Close.2,Close.3,High,...,Low.2,Low.3,Open,Open.1,Open.2,Open.3,Volume,Volume.1,Volume.2,Volume.3
0,Symbols,AAPL,TSLA,IBM,LNKD,AAPL,TSLA,IBM,LNKD,AAPL,...,IBM,LNKD,AAPL,TSLA,IBM,LNKD,AAPL,TSLA,IBM,LNKD
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-02,100.2164535522461,219.30999755859375,129.24151611328125,NaN,109.33000183105469,219.30999755859375,162.05999755859375,NaN,111.44000244140625,...,161.0,NaN,111.38999938964844,222.8699951171875,161.30999755859375,NaN,53204600.0,4764400.0,5525500.0,NaN
3,2015-01-05,97.39318084716797,210.08999633789062,127.20793151855469,NaN,106.25,210.08999633789062,159.50999450683594,NaN,108.6500015258789,...,159.19000244140625,NaN,108.29000091552734,214.5500030517578,161.27000427246094,NaN,64285500.0,5368500.0,4880400.0,NaN
4,2015-01-06,97.40237426757812,211.27999877929688,124.464599609375,NaN,106.26000213623047,211.27999877929688,156.07000732421875,NaN,107.43000030517578,...,155.1699981689453,NaN,106.54000091552734,210.05999755859375,159.6699981689453,NaN,65797100.0,6261900.0,6146700.0,NaN

### Step 5.  What is the type of structure of df ?

In [ ]:
# 'pandas.core.panel.Panel'

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

### Step 9. Find all the volume traded in the year of 2015