# International Dragon Boat Races - Exploratory Data Analysis

The aim of this project is threefold:
- Data Collection: Identification of Data sources, addition on new Data.
- Data Wrangling: Ensuring a common and clean data structure.
- Data Analysis: Based on the available data, answer some questions aboout How Dragon Boat teams are performing in races around the Globe.

## 1. Data Collection:

The main problem in Dragon Boat is the reduced amount of available data. Although being a National sport in many countries, specially in Asia, it is still a minority sport in most of the World. However, it is getting increased attention and races and events are getting more attention.


Therefore, the first step of the project was to identify a reliable and sufficiently rich source of Data. This was possible by accessing the data available in the International Dragon Boat Federation (IDBF) website.
- Data source: https://www.dragonboat.sport/world


Thanks to the work of IDBF IT Team, there is access to the data of the results of International Dragon Boat Events. These data will be the base for the first steps of the analysis.

## 2. Data Wrangling:
Once we ingested the datasets, we have to do some wrangling in order to do further analysis. Most data wrangling was done in Excel, which included trimming some spaces taking the character format into account, as well as dealing with the format in the 'result' column. 


The structure was already pretty clean, but decisions had to be made as to integrate all data in one same dataset, to structure them in groups, etc.


In order to be able to present some preliminary results, we opted to integrate in one single dataset data coming from the results of various events. As the projects grows, we will decide the data structure accordingly.

## 3. Data Analysis:
The aim of the project is to answer some questions about the state of the art of Dragon Boat in International Races. Questions such as: *How did different countries performance evolve in the last years? How do countries perform in different kind of events (International Vs Regional)? Is Dragon Boat a private club for only a few countries dominating the scene? Are there any challengers? Do all countries perform equally in all distances and cathegories? Do some countries have more explosive paddlers Vs other long distance ones?*

### Importing Data:

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('WDBRC_data.csv', sep=';')
data.head()

,event,year,event_type,organizer,result,country,boat_type,distance,age_category,gender,race_number,lane_number,stage,all comers,comment
0,201908_thailand_pattaya,2019,WDBRC,IDBF,00:39.251,China,20,200,premier,open,275,3,grand final,NaN,NaN
1,201908_thailand_pattaya,2019,WDBRC,IDBF,00:40.330,Thailand,20,200,premier,open,275,4,grand final,NaN,NaN
2,201908_thailand_pattaya,2019,WDBRC,IDBF,00:41.047,China,20,200,premier,open,221,3,heat 1,NaN,NaN
3,201908_thailand_pattaya,2019,WDBRC,IDBF,00:41.253,Canada,20,200,premier,open,275,2,grand final,NaN,NaN
4,201908_thailand_pattaya,2019,WDBRC,IDBF,00:41.648,Thailand,20,200,premier,open,222,3,heat 2,NaN,NaN

### Description of Variables:

- event: Race Event
- year: Year in which the event tool place ---- `NEEDS REFINEMENT IN DATA STRUCTURE`
- event_type: Cathegory of the event, wether it is a World Dragon Boat Racing Championship (WDBRC), a Club Crew World Championship (CCWC), etc ---- `NEEDS REFINEMENT IN DATA STRUCTURE`
- organizer: Organization, Federation or Association organizing the event
- result: time result for that particular crew in that perticular race in the event
- country: country of origin of the crew ---- `NEEDS REFINEMENT IN DATA STRUCTURE`
- boat_type: standard boat (20 paddlers), small boat (10 paddlers)
- distance: race distance (200 m., 500 m., 1000 m., 2000 m.)
- age_category: racing cathegory of the crew (premier, senior A, senior B, senior C, u24, junior A, junior B, PD-1, PD-2)
- gender: gender composition of the crew (open, women, mixed)
- race_number: ID number of the race in that particulat event ---- `NEEDS REFINEMENT IN DATA STRUCTURE`
- lane_number: lane in which that crew raced in that race number
- stage: stage in the competition that race took place (heat, repechage, semi final, tail race, minor final, grand final, final round)
- all comers
- comment: any comment relevant for that crew in that race, usually related to penalties and such issues

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6061 entries, 0 to 6060
Data columns (total 15 columns):
event           6061 non-null object
year            6061 non-null int64
event_type      6061 non-null object
organizer       6061 non-null object
result          6061 non-null object
country         6061 non-null object
boat_type       6061 non-null int64
distance        6061 non-null int64
age_category    6061 non-null object
gender          6061 non-null object
race_number     6061 non-null object
lane_number     6061 non-null int64
stage           6061 non-null object
all comers      93 non-null object
comment         45 non-null object
dtypes: int64(4), object(11)
memory usage: 710.4+ KB