# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed

# Importar el metodo data de pandas_datareader

from pandas_datareader import data, wb

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [4]:
# https://www.learndatasci.com/tutorials/python-finance-part-yahoo-finance-api-pandas-matplotlib/

start_date = dt.datetime(2015,1,1)

stop_date = dt.datetime(2020,3,17)

start_date

datetime.datetime(2015, 1, 1, 0, 0)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [5]:
stocks = ['AAPL', 'TSLA', 'IBM']

### Step 4. Read the data from google, assign to df and print it

In [6]:
import pandas_datareader.data as web

panel_data = web.DataReader(stocks, 'yahoo', start_date, stop_date)
panel_data.head()

Attributes   Adj Close                               Close              \
Symbols           AAPL        TSLA         IBM        AAPL        TSLA
Date
2015-01-02  100.216454  219.309998  129.241516  109.330002  219.309998
2015-01-05   97.393181  210.089996  127.207932  106.250000  210.089996
2015-01-06   97.402374  211.279999  124.464600  106.260002  211.279999
2015-01-07   98.768150  210.949997  123.651100  107.750000  210.949997
2015-01-08  102.563072  210.619995  126.338654  111.889999  210.619995

Attributes                    High                                 Low  \
Symbols            IBM        AAPL        TSLA         IBM        AAPL
Date
2015-01-02  162.059998  111.440002  223.250000  163.309998  107.349998
2015-01-05  159.509995  108.650002  216.500000  161.270004  105.410004
2015-01-06  156.070007  107.430000  214.199997  159.960007  104.629997
2015-01-07  155.050003  108.199997  214.779999  157.199997  106.699997
2015-01-08  158.419998  112.150002  213.800003  159.039993  108.699997

Attributes                                Open                          \
Symbols           TSLA         IBM        AAPL        TSLA         IBM
Date
2015-01-02  213.259995  161.000000  111.389999  222.869995  161.309998
2015-01-05  207.160004  159.190002  108.290001  214.550003  161.270004
2015-01-06  204.210007  155.169998  106.540001  210.059998  159.669998
2015-01-07  209.779999  154.029999  107.199997  213.350006  157.199997
2015-01-08  210.009995  155.550003  109.230003  212.809998  156.240005

Attributes      Volume
Symbols           AAPL       TSLA        IBM
Date
2015-01-02  53204600.0  4764400.0  5525500.0
2015-01-05  64285500.0  5368500.0  4880400.0
2015-01-06  65797100.0  6261900.0  6146700.0
2015-01-07  40105900.0  2968400.0  4701800.0
2015-01-08  59364500.0  3442500.0  4236800.0

In [7]:
panel_data.tail()

Attributes   Adj Close                               Close              \
Symbols           AAPL        TSLA         IBM        AAPL        TSLA
Date
2020-03-11  275.429993  634.229980  117.970001  275.429993  634.229980
2020-03-12  248.229996  560.549988  102.809998  248.229996  560.549988
2020-03-13  277.970001  546.619995  107.949997  277.970001  546.619995
2020-03-16  242.210007  445.070007   99.080002  242.210007  445.070007
2020-03-17  252.860001  430.200012  106.650002  252.860001  430.200012

Attributes                    High                                 Low  \
Symbols            IBM        AAPL        TSLA         IBM        AAPL
Date
2020-03-11  117.970001  281.220001  653.580017  122.580002  271.859985
2020-03-12  102.809998  270.000000  594.500000  109.800003  248.000000
2020-03-13  107.949997  279.920013  607.570007  109.160004  252.949997
2020-03-16   99.080002  259.079987  494.869995  107.410004  240.000000
2020-03-17  106.650002  257.609985  471.850006  107.400002  238.399994

Attributes                                Open                          \
Symbols           TSLA         IBM        AAPL        TSLA         IBM
Date
2020-03-11  613.000000  116.379997  277.390015  640.200012  121.010002
2020-03-12  546.250000  102.279999  255.940002  580.890015  109.650002
2020-03-13  502.000000  100.809998  264.890015  595.000000  108.680000
2020-03-16  442.170013   95.000000  241.949997  469.500000   98.000000
2020-03-17  396.000000   97.099998  247.509995  440.010010  100.610001

Attributes       Volume
Symbols            AAPL        TSLA         IBM
Date
2020-03-11   63899700.0  13322500.0   8446500.0
2020-03-12  104618500.0  18909100.0  12512700.0
2020-03-13   92683000.0  22640300.0  12502100.0
2020-03-16   80605900.0  20489500.0  10568000.0
2020-03-17   80876700.0  23914500.0   8888000.0

### Step 5.  What is the type of structure of df ?

In [8]:
# 'pandas.core.panel.Panel'
panel_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1310 entries, 2015-01-02 to 2020-03-17
Data columns (total 18 columns):
(Adj Close, AAPL)    1310 non-null float64
(Adj Close, TSLA)    1310 non-null float64
(Adj Close, IBM)     1310 non-null float64
(Close, AAPL)        1310 non-null float64
(Close, TSLA)        1310 non-null float64
(Close, IBM)         1310 non-null float64
(High, AAPL)         1310 non-null float64
(High, TSLA)         1310 non-null float64
(High, IBM)          1310 non-null float64
(Low, AAPL)          1310 non-null float64
(Low, TSLA)          1310 non-null float64
(Low, IBM)           1310 non-null float64
(Open, AAPL)         1310 non-null float64
(Open, TSLA)         1310 non-null float64
(Open, IBM)          1310 non-null float64
(Volume, AAPL)       1310 non-null float64
(Volume, TSLA)       1310 non-null float64
(Volume, IBM)        1310 non-null float64
dtypes: float64(18)
memory usage: 194.5 KB

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [9]:
panel_data.items

<bound method DataFrame.items of Attributes   Adj Close                               Close              \
Symbols           AAPL        TSLA         IBM        AAPL        TSLA
Date
2015-01-02  100.216454  219.309998  129.241516  109.330002  219.309998
2015-01-05   97.393181  210.089996  127.207932  106.250000  210.089996
2015-01-06   97.402374  211.279999  124.464600  106.260002  211.279999
2015-01-07   98.768150  210.949997  123.651100  107.750000  210.949997
2015-01-08  102.563072  210.619995  126.338654  111.889999  210.619995
...                ...         ...         ...         ...         ...
2020-03-11  275.429993  634.229980  117.970001  275.429993  634.229980
2020-03-12  248.229996  560.549988  102.809998  248.229996  560.549988
2020-03-13  277.970001  546.619995  107.949997  277.970001  546.619995
2020-03-16  242.210007  445.070007   99.080002  242.210007  445.070007
2020-03-17  252.860001  430.200012  106.650002  252.860001  430.200012

Attributes                    High                                 Low  \
Symbols            IBM        AAPL        TSLA         IBM        AAPL
Date
2015-01-02  162.059998  111.440002  223.250000  163.309998  107.349998
2015-01-05  159.509995  108.650002  216.500000  161.270004  105.410004
2015-01-06  156.070007  107.430000  214.199997  159.960007  104.629997
2015-01-07  155.050003  108.199997  214.779999  157.199997  106.699997
2015-01-08  158.419998  112.150002  213.800003  159.039993  108.699997
...                ...         ...         ...         ...         ...
2020-03-11  117.970001  281.220001  653.580017  122.580002  271.859985
2020-03-12  102.809998  270.000000  594.500000  109.800003  248.000000
2020-03-13  107.949997  279.920013  607.570007  109.160004  252.949997
2020-03-16   99.080002  259.079987  494.869995  107.410004  240.000000
2020-03-17  106.650002  257.609985  471.850006  107.400002  238.399994

Attributes                                Open                          \
Symbols           TSLA         IBM        AAPL        TSLA         IBM
Date
2015-01-02  213.259995  161.000000  111.389999  222.869995  161.309998
2015-01-05  207.160004  159.190002  108.290001  214.550003  161.270004
2015-01-06  204.210007  155.169998  106.540001  210.059998  159.669998
2015-01-07  209.779999  154.029999  107.199997  213.350006  157.199997
2015-01-08  210.009995  155.550003  109.230003  212.809998  156.240005
...                ...         ...         ...         ...         ...
2020-03-11  613.000000  116.379997  277.390015  640.200012  121.010002
2020-03-12  546.250000  102.279999  255.940002  580.890015  109.650002
2020-03-13  502.000000  100.809998  264.890015  595.000000  108.680000
2020-03-16  442.170013   95.000000  241.949997  469.500000   98.000000
2020-03-17  396.000000   97.099998  247.509995  440.010010  100.610001

Attributes       Volume
Symbols            AAPL        TSLA         IBM
Date
2015-01-02   53204600.0   4764400.0   5525500.0
2015-01-05   64285500.0   5368500.0   4880400.0
2015-01-06   65797100.0   6261900.0   6146700.0
2015-01-07   40105900.0   2968400.0   4701800.0
2015-01-08   59364500.0   3442500.0   4236800.0
...                 ...         ...         ...
2020-03-11   63899700.0  13322500.0   8446500.0
2020-03-12  104618500.0  18909100.0  12512700.0
2020-03-13   92683000.0  22640300.0  12502100.0
2020-03-16   80605900.0  20489500.0  10568000.0
2020-03-17   80876700.0  23914500.0   8888000.0

[1310 rows x 18 columns]>

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [10]:
vol = panel_data['Volume']
vol.head()

Symbols           AAPL       TSLA        IBM
Date
2015-01-02  53204600.0  4764400.0  5525500.0
2015-01-05  64285500.0  5368500.0  4880400.0
2015-01-06  65797100.0  6261900.0  6146700.0
2015-01-07  40105900.0  2968400.0  4701800.0
2015-01-08  59364500.0  3442500.0  4236800.0

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [11]:
weekly_vol= vol.resample('W').sum()
weekly_vol.head(10)

Symbols            AAPL        TSLA         IBM
Date
2015-01-04   53204600.0   4764400.0   5525500.0
2015-01-11  283252500.0  22709600.0  24454000.0
2015-01-18  304226600.0  30799200.0  23259800.0
2015-01-25  198737000.0  16211700.0  31244800.0
2015-02-01  465842700.0  15720200.0  32928000.0
2015-02-08  270757300.0  19047600.0  22440200.0
2015-02-15  303206800.0  40472600.0  18165000.0
2015-02-22  194354900.0  17829400.0  14110300.0
2015-03-01  368216200.0  29367900.0  22941400.0
2015-03-08  246938500.0  28165800.0  21117800.0

### Step 9. Find all the volume traded in the year of 2015

In [15]:
year_vol= vol.resample('A').sum()
year_vol

Symbols             AAPL          TSLA           IBM
Date
2015-12-31  1.306605e+10  1.088218e+09  1.105583e+09
2016-12-31  9.682478e+09  1.162362e+09  1.018606e+09
2017-12-31  6.810776e+09  1.590031e+09  1.071166e+09
2018-12-31  8.539036e+09  2.161639e+09  1.368561e+09
2019-12-31  7.063803e+09  2.308078e+09  9.466952e+08
2020-12-31  2.377698e+09  1.096803e+09  3.415488e+08