# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
csv_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df = pd.read_csv(csv_url)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [3]:
stud_alcoh = df.loc[: , "school":"guardian"]
stud_alcoh.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 5. Create a lambda function that will capitalize strings.

In [4]:
s = "gabriel"
s.capitalize()

'Gabriel'

In [5]:
def capitalizer(x):
    return x.capitalize()

In [6]:
capitalizer = lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [7]:
stud_alcoh['Mjob'] =stud_alcoh['Mjob'].apply(capitalizer)

In [8]:
sdf = stud_alcoh[['Mjob', 'Fjob']].apply(lambda x: x.str.capitalize())
sdf

         Mjob      Fjob
0     At_home   Teacher
1     At_home     Other
2     At_home     Other
3      Health  Services
4       Other     Other
..        ...       ...
390  Services  Services
391  Services  Services
392     Other     Other
393  Services     Other
394     Other   At_home

[395 rows x 2 columns]

In [9]:
stud_alcoh['Fjob'].apply(capitalizer)

0       Teacher
1         Other
2         Other
3      Services
4         Other
         ...
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object

In [10]:
df_alcohol_MF = df_alcohol[['Mjob', 'Fjob']].apply(lambda x: x.astype(str).str.capitalize())
df_alcohol_MF

NameError: name 'df_alcohol' is not defined

### Step 7. Print the last elements of the data set.

In [11]:
stud_alcoh.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,Services,services,course,other
391,MS,M,17,U,LE3,T,3,1,Services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,Other,other,course,other
393,MS,M,18,R,LE3,T,3,2,Services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,Other,at_home,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [12]:
stud_alcoh['Mjob'] = stud_alcoh['Mjob'].apply(capitalizer)
stud_alcoh['Fjob'] = stud_alcoh['Fjob'].apply(capitalizer)
stud_alcoh

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father
...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [13]:
def majority(age_colum):
    if age > 17:
        return True
    else:
        
        return False

for age in df2.age:
   df2["legal_drinker"] =  majority(age)

df2["legal_drinker"]

NameError: name 'df2' is not defined

In [14]:
def majority(x):
    if x > 17:
        return True
    else:
        return False

In [15]:
stud_alcoh['legal_drinker'] = stud_alcoh['age'].apply(majority)
stud_alcoh.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [ ]:
apply 
applymap
transform

In [16]:
def times10(x):
    if type(x) is int or type(x) is float:  #Is numeric
        return 10 * x
    return x

In [ ]:
times10_lambda = lambda x: x

In [18]:
stud_alcoh * 10

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,180,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,AAAAAAAAAA,40,40,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,10
1,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,170,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,10,10,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,fatherfatherfatherfatherfatherfatherfatherfath...,0
2,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,150,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,10,10,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,otherotherotherotherotherotherotherotherothero...,mothermothermothermothermothermothermothermoth...,0
3,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,150,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,20,HealthHealthHealthHealthHealthHealthHealthHeal...,ServicesServicesServicesServicesServicesServic...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,0
4,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,160,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,30,30,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,fatherfatherfatherfatherfatherfatherfatherfath...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,200,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,AAAAAAAAAA,20,20,ServicesServicesServicesServicesServicesServic...,ServicesServicesServicesServicesServicesServic...,coursecoursecoursecoursecoursecoursecoursecour...,otherotherotherotherotherotherotherotherothero...,10
391,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,170,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,30,10,ServicesServicesServicesServicesServicesServic...,ServicesServicesServicesServicesServicesServic...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,0
392,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,210,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,10,10,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,otherotherotherotherotherotherotherotherothero...,10
393,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,180,RRRRRRRRRR,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,30,20,ServicesServicesServicesServicesServicesServic...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,10
394,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,190,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,10,10,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,coursecoursecoursecoursecoursecoursecoursecour...,fatherfatherfatherfatherfatherfatherfatherfath...,10

In [52]:
stud_alcoh2 = stud_alcoh.apply(times10)
stud_alcoh2

school           0      GP\n1      GP\n2      GP\n3      GP\n4 ...
sex              0      F\n1      F\n2      F\n3      F\n4     ...
age              0      18\n1      17\n2      15\n3      15\n4 ...
address          0      U\n1      U\n2      U\n3      U\n4     ...
famsize          0      GT3\n1      GT3\n2      LE3\n3      GT3...
Pstatus          0      A\n1      T\n2      T\n3      T\n4     ...
Medu             0      4\n1      1\n2      1\n3      4\n4     ...
Fedu             0      4\n1      1\n2      1\n3      2\n4     ...
Mjob             0       At_home\n1       At_home\n2       At_h...
Fjob             0       Teacher\n1         Other\n2         Ot...
reason           0      course\n1      course\n2       other\n3...
guardian         0      mother\n1      father\n2      mother\n3...
legal_drinker    0       True\n1      False\n2      False\n3   ...
dtype: object

In [49]:
stud_alcoh

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other,True
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother,False
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other,True
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother,True
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True

In [21]:
stud_alcoh.applymap(lambda x: str(x)*2).head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GPGP,FF,1818,UU,GT3GT3,AA,44,44,At_homeAt_home,TeacherTeacher,coursecourse,mothermother,TrueTrue
1,GPGP,FF,1717,UU,GT3GT3,TT,11,11,At_homeAt_home,OtherOther,coursecourse,fatherfather,FalseFalse
2,GPGP,FF,1515,UU,LE3LE3,TT,11,11,At_homeAt_home,OtherOther,otherother,mothermother,FalseFalse
3,GPGP,FF,1515,UU,GT3GT3,TT,44,22,HealthHealth,ServicesServices,homehome,mothermother,FalseFalse
4,GPGP,FF,1616,UU,GT3GT3,TT,33,33,OtherOther,OtherOther,homehome,fatherfather,FalseFalse
5,GPGP,MM,1616,UU,LE3LE3,TT,44,33,ServicesServices,OtherOther,reputationreputation,mothermother,FalseFalse
6,GPGP,MM,1616,UU,LE3LE3,TT,22,22,OtherOther,OtherOther,homehome,mothermother,FalseFalse
7,GPGP,FF,1717,UU,GT3GT3,AA,44,44,OtherOther,TeacherTeacher,homehome,mothermother,FalseFalse
8,GPGP,MM,1515,UU,LE3LE3,AA,33,22,ServicesServices,OtherOther,homehome,mothermother,FalseFalse
9,GPGP,MM,1515,UU,GT3GT3,TT,33,44,OtherOther,OtherOther,homehome,mothermother,FalseFalse

In [23]:
new_df = stud_alcoh.transform(times10)
new_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other,True
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother,False
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other,True
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother,True
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True

In [17]:
stud_alcoh.applymap(times10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,father,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,200,U,LE3,A,20,20,Services,Services,course,other,True
391,MS,M,170,U,LE3,T,30,10,Services,Services,course,mother,False
392,MS,M,210,R,GT3,T,10,10,Other,Other,course,other,True
393,MS,M,180,R,LE3,T,30,20,Services,Other,course,mother,True
394,MS,M,190,U,LE3,T,10,10,Other,At_home,course,father,True

In [18]:
pd1 = stud_alcoh.applymap(lambda x: str(x) + "_s")
pd1

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP_s,F_s,18_s,U_s,GT3_s,A_s,4_s,4_s,At_home_s,Teacher_s,course_s,mother_s,True_s
1,GP_s,F_s,17_s,U_s,GT3_s,T_s,1_s,1_s,At_home_s,Other_s,course_s,father_s,False_s
2,GP_s,F_s,15_s,U_s,LE3_s,T_s,1_s,1_s,At_home_s,Other_s,other_s,mother_s,False_s
3,GP_s,F_s,15_s,U_s,GT3_s,T_s,4_s,2_s,Health_s,Services_s,home_s,mother_s,False_s
4,GP_s,F_s,16_s,U_s,GT3_s,T_s,3_s,3_s,Other_s,Other_s,home_s,father_s,False_s
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS_s,M_s,20_s,U_s,LE3_s,A_s,2_s,2_s,Services_s,Services_s,course_s,other_s,True_s
391,MS_s,M_s,17_s,U_s,LE3_s,T_s,3_s,1_s,Services_s,Services_s,course_s,mother_s,False_s
392,MS_s,M_s,21_s,R_s,GT3_s,T_s,1_s,1_s,Other_s,Other_s,course_s,other_s,True_s
393,MS_s,M_s,18_s,R_s,LE3_s,T_s,3_s,2_s,Services_s,Other_s,course_s,mother_s,True_s
394,MS_s,M_s,19_s,U_s,LE3_s,T_s,1_s,1_s,Other_s,At_home_s,course_s,father_s,True_s

In [19]:
stud_alcoh * 10

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,180,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,AAAAAAAAAA,40,40,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,10
1,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,170,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,10,10,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,fatherfatherfatherfatherfatherfatherfatherfath...,0
2,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,150,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,10,10,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,otherotherotherotherotherotherotherotherothero...,mothermothermothermothermothermothermothermoth...,0
3,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,150,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,20,HealthHealthHealthHealthHealthHealthHealthHeal...,ServicesServicesServicesServicesServicesServic...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,0
4,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,160,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,30,30,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,fatherfatherfatherfatherfatherfatherfatherfath...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,200,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,AAAAAAAAAA,20,20,ServicesServicesServicesServicesServicesServic...,ServicesServicesServicesServicesServicesServic...,coursecoursecoursecoursecoursecoursecoursecour...,otherotherotherotherotherotherotherotherothero...,10
391,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,170,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,30,10,ServicesServicesServicesServicesServicesServic...,ServicesServicesServicesServicesServicesServic...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,0
392,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,210,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,10,10,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,otherotherotherotherotherotherotherotherothero...,10
393,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,180,RRRRRRRRRR,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,30,20,ServicesServicesServicesServicesServicesServic...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,10
394,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,190,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,10,10,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,coursecoursecoursecoursecoursecoursecoursecour...,fatherfatherfatherfatherfatherfatherfatherfath...,10

In [22]:
new_df = stud_alcoh.transform(lambda x: str(x))
new_df

ValueError: transforms cannot produce aggregated results

In [ ]:
stud_alcoh[["A", "B", "C"]] = ["A*", "B*", "C*"]