# Dragon Boat Exploratory Data Analysis

## The Analysis

In [8]:
import pandas as pd

In [9]:
data = pd.read_csv('ENDBC_2018_de_brandenburg.csv', sep=';')
data.head()

,# in dst.,# in filtered dst.,result,crew,boat,distance,age,gender,race no,lane,stage,all comers,comment
0,1.0,1.0,46.646,Germany,20,200,premier,open,115,3,round 2,NaN,NaN
1,2.0,2.0,46.851,Ukraine,20,200,premier,open,115,2,round 2,NaN,NaN
2,3.0,3.0,46.873,Germany,20,200,premier,open,106,2,round 1,NaN,NaN
3,4.0,4.0,47.015,Germany,20,200,premier,open,124,4,round 3,NaN,NaN
4,5.0,5.0,47.385,Germany,20,200,premier,mixed,56,2,round 1,NaN,NaN

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 812 entries, 0 to 811
Data columns (total 13 columns):
# in dst.             812 non-null float64
# in filtered dst.    812 non-null float64
result                812 non-null object
crew                  812 non-null object
boat                  812 non-null int64
distance              812 non-null int64
age                   812 non-null object
gender                812 non-null object
race no               812 non-null int64
lane                  812 non-null int64
stage                 812 non-null object
all comers            0 non-null float64
comment               12 non-null object
dtypes: float64(3), int64(4), object(6)
memory usage: 82.6+ KB

In [11]:
# Renaming columns:

data.rename(columns={'race no': 'race_number',
                     'lane': 'lane_number',
                     'age': 'age_category',
                     'boat': 'boat_type',
                     'crew': 'country'}, errors="raise", inplace=True)

# Dropping order and Nan columns:

data.drop(['# in dst.', '# in filtered dst.', 'all comers', 'comment'], axis=1)

,result,country,boat_type,distance,age_category,gender,race_number,lane_number,stage
0,46.646,Germany,20,200,premier,open,115,3,round 2
1,46.851,Ukraine,20,200,premier,open,115,2,round 2
2,46.873,Germany,20,200,premier,open,106,2,round 1
3,47.015,Germany,20,200,premier,open,124,4,round 3
4,47.385,Germany,20,200,premier,mixed,56,2,round 1
...,...,...,...,...,...,...,...,...,...
807,11:46.994,Ukraine,10,2000,senior B,women,42,8,final
808,11:57.529,Netherlands,10,2000,junior A,open,40,1,final
809,12:19.359,Czech Republic,10,2000,senior C,women,42,12,final
810,12:44.964,Cyprus,10,2000,senior A,women,44,8,final
811,16:04.941,Italy,10,2000,senior C,women,42,11,final

In [12]:
# Trimming 'crew' column

data['country'] = data['country'].str.strip()

In [13]:
# Formating 'result' column. It is a :

data['new_result'] = data['result'].str.pad(9, side='left', fillchar='-')
data['new_result'] = data['new_result'].str.replace('---','00:')
data['new_result'] = data['new_result'].str.replace('-','0')
data['new_result']

0      00:46.646
1      00:46.851
2      00:46.873
3      00:47.015
4      00:47.385
         ...
807    11:46.994
808    11:57.529
809    12:19.359
810    12:44.964
811    16:04.941
Name: new_result, Length: 812, dtype: object

In [14]:
data['new_result'] = data['new_result'].str.replace('.',':')
data['new_result']

0      00:46:646
1      00:46:851
2      00:46:873
3      00:47:015
4      00:47:385
         ...
807    11:46:994
808    11:57:529
809    12:19:359
810    12:44:964
811    16:04:941
Name: new_result, Length: 812, dtype: object

In [15]:
data['race_result'] = data['new_result'].apply(str)
time = data['race_result'].str.split(':', n = 3, expand = True)
data['race_result'] = pd.to_numeric(time[0])*60000 + pd.to_numeric(time[1])*1000 + pd.to_numeric(time[2])
data['race_result'].head()

0    46646
1    46851
2    46873
3    47015
4    47385
Name: race_result, dtype: int64